@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffe175;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #f7f7e4;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(219, 112, 25, 0.459), 0 6px 6px rgba(225, 127, 16, 0.454);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
  z-index: 2;
}

h3 {
  color: #c67000;
  font-size: 25px;
  margin: 0;
  opacity: 0.6;
  letter-spacing: 2px;
}

h4 {
  color: #c67000;
  font-size: 13px;
  margin: 0;
  opacity: 0.3;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 30px auto;
  max-width: 600px;
}

.btn {
  background-color: #ffab3c;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(222, 130, 24, 0.5), 0 6px 6px rgba(201, 91, 13, 0.669);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}